body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  max-width: 580px;
  border: 5px solid limegreen;
}

#start-game {
  background-color: limegreen;
  color: white;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
}

#start-game:hover {
  background-color: white;
  color: limegreen;
  border: 2px solid limegreen;
}

#score-container {
  height: 70%;
  width: 10%;
  border: 2px solid yellow;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#grid {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 70%;
  max-width: 580px;
}

#grid div {
  height: 5.56%;
  width: 5.3%;
  background-color: white;
  border-radius: 50%;
}

#grid .seed {
  background: radial-gradient(lime 0%, transparent 20%, transparent 40%);
}

#grid .blinky {
  background-color: red;
}

#grid .pinky {
  background-color: pink;
}

#grid .wrinkly {
  background-color: turquoise;
}

#grid .clyde {
  background-color: orange;
}

#grid .pacman {
  background-color: yellow;
}

#grid .route {
  background-color: yellowgreen;
}

#grid .wall {
  background-color: dodgerblue;
  border-radius: 0;
}

#grid .flee {
  background-color: darkblue;
}

#grid .biscuit {
  background-color: grey;
  border-radius: 50%;
  animation: blinker 1s linear infinite;
}

#game-over {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  max-width: 580px;
  background-color: dodgerblue;
}

#final-score {
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}