body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 70vh;
}

#grid div {
  height: 5.2%;
  width: 5.2%;
  border: 1px solid white;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 0.4rem;
}

#grid .blinky {
  background-color: red;
}

#grid .pinky {
  background-color: pink;
}

#grid .pacman {
  background-color: yellow;
}

#grid .route {
  background-color: yellowgreen;
}

#grid .wall {
  background-color: darkgray;
}