body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #bae1ff;
}

#home-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  max-width: 580px;
  min-width: 500px;
  background-color: #abebb8;
  border: 5px solid white; 
  color: white;
  border-radius: 0.5rem;
}

#home-screen h1 {
  border: 1px solid white;
  padding: 10px; 
  background-color: white;
  color: #abebb8;
}

#start-game {
  background-color: #abebb8;
  color: white;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 0.5rem;
}

#start-game:hover {
  background-color: white;
  color: #abebb8;
  border: 2px solid #abebb8;
  border-radius: 0.5rem;
}

#score-container {
  height: 70%;
  width: 10%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#grid {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 70%;
  max-width: 580px;
  min-width: 500px;
  background-color: #bae1ff;
}

#grid div {
  height: 5.56%;
  width: 5.3%;
  background-color: #bae1ff;
  border-radius: 50%;
}

#grid .seed {
  background: radial-gradient(lime 0%, transparent 20%, transparent 40%);
}

#grid .blinky {
  background-color: red;
}

#grid .pinky {
  background-color: pink;
}

#grid .wrinkly {
  background-color: turquoise;
}

#grid .clyde {
  background-color: orange;
}

#grid .pacman {
  background-color: yellow;
}

#grid .route {
  background-color: yellowgreen;
}

#grid .wall {
  background-color: dodgerblue;
  border-radius: 0.2rem;
}

#grid .flee {
  background-color: darkblue;
}

#grid .biscuit {
  background-color: grey;
  border-radius: 50%;
  animation: blinker 1s linear infinite;
}

#game-over {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  max-width: 580px;
  background-color: #ffdfba;
  border-radius: 0.5rem;
}

#final-score {
  background-color: white;
  color: #ffdfba;
  font-size: xx-large;
  border-radius: 0.5rem;
  padding: 10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}